.container
  & > h2
    text-align center
.write
  margin-top: 100px
  &__form
    padding 0 20px 0 20px
    &__item
      display: flex
      width: 100%
      margin-left: 40px
      & > label
        width: 28%
        margin-left: 20px
        & > p
          margin-bottom: 5px
      &__input
        width: 95%
        height: 25px
        outline none
        border 1px solid #C0C0C0
        border-radius 3px
    &__item2
      display: flex
      margin-top: 20px
      margin-left: 60px
      & > p
        margin-top: 0
      &__radio
        margin-left: 20px
        margin-top: 3px
    &__item3
      margin-left: 60px
      display: flex
      flex-direction column
      width: 87%
      & > input
        margin-top: 5px
        height: 25px
        outline none
        border 1px solid #C0C0C0
        border-radius 3px
    &__item4
      margin-left: 60px
      & > p
        margin-bottom: 5px
      & > textarea
        width: 93.5%
        height: 100px
        outline none
        border 1px solid #C0C0C0
        border-radius 3px
    &__item5
      margin-top: 10px
      margin-left: 60px
      display: flex
      justify-content: space-between
      & > button
        margin-right: 80px


















