@media screen and (max-width: 1024px){
  .road__text{
    padding-top: 80px
  }
  .features__list{
    padding: 0
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    --card-width: 270px;
    --card-height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .header__links{
    display none
  }
  .road{
    grid-template-rows 500px
  }
  .road__text{
    padding 50px 10px 0 10px
  }
  .road__text>h2{
    font-size: 30px
    margin-bottom: 15px
  }
  .road__text>p{
    font-size: 16px
    margin-top: 0
  }
  .wrapper{
    grid-template-rows: 300px
  }
  .wrapper__top{
    grid-template-rows: 300px;
  }
  .wrapper__top__right{
    padding: 41px 40px 50px 21px;
  }
  .wrapper__bottom{
    grid-template-rows: 300px;
  }
  .slider{
    height: 600px
  }
  .features{
    margin-top: 10px
  }
  .features__list{
    padding: 0
    margin-left: 15px
  }
  .features__list__item{
    width: 50%
    border none
  }
  .features__list__item:first-child{
    border-bottom 1px solid #C0C0C0
    border-right 1px solid #C0C0C0
  }
  .features__list__item:nth-child(2){
    border-bottom 1px solid #C0C0C0
  }
  .features__list__item:nth-child(3){
    border-right  1px solid #C0C0C0
    border-bottom 1px solid #C0C0C0
  }
  .features__list__item:nth-child(4){
    border-bottom 1px solid #C0C0C0
  }
  .features__list__item:nth-child(5){
    border-right  1px solid #C0C0C0
  }
  .write__form__item{
    flex-direction column
  }

  .write__form__item>label{
    width: 50%
    margin-left: 140px
  }
  .write__form__item2{
    padding-left: 120px
  }
  .write__form__item3{
    padding-left: 120px
  }
  .write__form__item3>input{
    width: 55%
    margin-left: 1px
  }
  .write__form__item4>p{
    margin-top: 12px
    margin-bottom: 10px
    padding-left: 120px
  }
  .write__form__item4>textarea{
    margin-left: 120px
    width: 53%
    height: 50px
  }
  .write__form__item5>div{
    margin-left: 118px
  }
  .write__form__item5>button{
    margin-right: 150px
  }
}
@media screen and (max-width: 425px){
  .road{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows 300px
  }
  .road__text{
    text-align center
    padding: 0
  }
  .road__img{
    height: 392px
  }
  .wrapper__top{
    grid-template-columns: repeat(1,1fr);
  }
  .wrapper__top__left{
    grid-column: 1;
    grid-row: 2;
    height 392px
  }
  .wrapper__top__right{
    grid-column: 1;
    grid-row: 1;
    text-align center
    padding: 41px 20px 50px 20px;
  }
  .wrapper__bottom{
    grid-template-columns: repeat(1,1fr);
    margin-top: 400px
  }
  .slider{
    height: 400px
  }
  :root {
    --card-width: 120px;
    --card-height: 200px;
  }
  .header__menu__title{
    margin-left: 0
  }
  .menu-none{
    display: block
    width: 30px
    height: 40px
    transform: rotate(-90deg)
    margin-top: 10px
    margin-right: -10px
    opacity 0.5
    cursor pointer
  }
  .header__menu-list{
    display none
  }
  .write__form__item3{
    width: 73%
  }
  .features__list{
    margin-left: 25px
    margin-bottom: 0
  }
  .features__list__item{
    margin-top: 5px
    width: 90%
    padding: 0
  }
  .features__list__item:first-child{
    border-bottom 1px solid #C0C0C0
    border-right  none
  }
  .features__list__item:nth-child(2){
    border-bottom 1px solid #C0C0C0
  }
  .features__list__item:nth-child(3){
    border-bottom 1px solid #C0C0C0
    border-right  none
  }
  .features__list__item:nth-child(4){
    border-bottom 1px solid #C0C0C0
  }
  .features__list__item:nth-child(5){
    border-bottom 1px solid #C0C0C0
    border-right  none
  }
  .features__list__item__title{
    margin-bottom: 10px
  }
  .features__list__item__dec{
    margin-top: 0
    margin-bottom: 20px
  }
  .write{
    margin-top: 10px
  }
  .write__form__item{
    margin-left: 0
  }
  .write__form__item>label{
    width: 100%;
    margin-left: 0

  }
  .write__form__item2{
    margin-left: 0
    padding: 0
  }
  .write__form__item3{
    padding-left: 0
    margin-left: 0
  }
  .write__form__item3>input{
    width: 100%

  }
  .write__form__item4{
    margin-left: 0
  }
  .write__form__item4>p{
    padding-left: 0
  }
  .write__form__item4>textarea{
    margin-left: 0
    width: 95%
  }
  .write__form__item5{
    margin-left: 0
  }
  .write__form__item5>div{
    margin-left: 0
  }
  .write__form__item5>button{
    margin-right: 10px
  }
}